# List Comprehensions

List Comprehensions is an elegant way to define and create lists based on existing lists.

In [2]:
squares = []
for n in range(10):
    squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# for the above code we can write 
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
n = [num for num in range(1,100) if num % 5 == 0]
n

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [6]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

In [7]:
loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]
loud_short_planets

['VENUS!', 'EARTH!', 'MARS!']

In [10]:
def count_negatives(nums):
    return len([num for num in nums if num < 0])


nums = [-1,-3,0,-5,9,8]
count_negatives(nums)

3

The any() function returns True if any element of an iterable is True. If not, any() returns False.

In [13]:
def has_lucky_number(nums):
    return any([num % 7 == 0 for num in nums])
num=[7,24,21,35,45,70]
has_lucky_number(nums)

True

# Strings

In [14]:
hello = "hello\nworld"
print(hello)

hello
world

In [15]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

In [19]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

In [20]:
planet = 'Pluto'
planet[0]

'P'

In [21]:
# Slicing
planet[-3:]

'uto'

In [22]:
len(planet)

5

In [23]:
# Yes, we can even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

# String methods

In [24]:
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [25]:
# all lowercase
claim.lower()

'pluto is a planet!'

In [26]:
# Searching for the first index of a substring
claim.index('plan')

11

In [39]:
claim.startswith('Pluto')

True

In [41]:
claim.endswith('planet!')
# case sensitive

True

In [42]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [46]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
print(year)
print(month)
print (day)

1956
01
31

In [47]:
'/'.join([month, day, year])

'01/31/1956'

In [48]:
planet + ', we miss you.'

'Pluto, we miss you.'

In [50]:
position = 9
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

can only concatenate str (not "int") to str

In [51]:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

We call .format() on a "format string", where the Python values we want to insert are represented with {} placeholders.